<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minima ullam obcaecati maiores iure ipsa aut incidunt mollitia porro ducimus laudantium, ipsum est eveniet nostrum dolorum nisi voluptatem sint repudiandae! </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/257813554_129510496139007_5064924688953758903_n.jpg" class="img-fluid img-proyecto">
        </div>

    </div>

</div>
