<div class="row">
    <h1> Experiencia laboral </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo N1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem obcaecati, cumque, officia sint nihil vel maxime amet ducimus numquam beatae fugit delectus. Ullam similique impedit, excepturi suscipit unde odit dolorum. 
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo N2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem obcaecati, cumque, officia sint nihil vel maxime amet ducimus numquam beatae fugit delectus. Ullam similique impedit, excepturi suscipit unde odit dolorum. 
            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo N3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem obcaecati, cumque, officia sint nihil vel maxime amet ducimus numquam beatae fugit delectus. Ullam similique impedit, excepturi suscipit unde odit dolorum. 
            </p>
        </ul>

    </div>
</div>