<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "75"
            [radius]= "60"
            [space]="-10"
            [outerStrokeGradient]= "true"
            [outerStrokeWidth]= "10"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'"
            [innerStrokeColor]= "'#e7e8ea'"
            [innerStrokeWidth]= "10"
            [title]= "'UI'"
            [animateTitle]= "false"
            [animationDuration]= "1000"
            [showUnits]= "false"
            [startFromZero]= "false"
            [lazy]= "true"
            [backgroundPadding]= "-19"
            [backgroundColor]= "'#949494'"
            [backgroundOpacity]="0.3">
        </circle-progress>
    </div>

</div>
