<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="html">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/html.png'"
            [outerStrokeColor]= "'#ffc342'"
            [outerStrokeGradientStopColor]= "'#ff7300'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="css">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/css.png'"
            [outerStrokeColor]= "'#50a3fb'"
            [outerStrokeGradientStopColor]= "'#038ac4'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="java">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/java.png'"
            [outerStrokeColor]= "'#ff0000'"
            [outerStrokeGradientStopColor]= "'#cc0000'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="python">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/python.png'"
            [outerStrokeColor]= "'#fff700'"
            [outerStrokeGradientStopColor]= "'#0061e0'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="ingles">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/ingles.png'"
            [outerStrokeColor]= "'#94f8ff'"
            [outerStrokeGradientStopColor]= "'#30e3f3'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="js">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/js.png'"
            [outerStrokeColor]= "'#fff952'"
            [outerStrokeGradientStopColor]= "'#ffcd1a'">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" id="github">
        <circle-progress
            [percent]= "75"
            [imageSrc]= "'../assets/git.png'"
            [outerStrokeColor]= "'#4882c2'"
            [outerStrokeGradientStopColor]= "'#ff52df'">
        </circle-progress>
    </div>

</div>
