<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-01-04 at 22.36.58.jpeg" class="img-fluid" id="perfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nostrum eum provident qui debitis pariatur animi alias fuga nemo accusamus. Enim libero sunt repudiandae provident fugiat, ab asperiores! Hic, exercitationem? </p>
        </span>
    </div>
</div>