.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}

a{
    padding: 0.5em;
}

i{
    color: white;
}

#logoAP{
    width: 150px;
}

.btn{
    margin-bottom: 1em;
    margin-left: 0.5em;

}


/*Celu*/
@media(max-width: 575px){
    .container{
        flex-direction: column;
    }

    .redes{
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
    }

    a{ 
        align-items: center;
        justify-content: center;
    }

    .btn{
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 0.5em;    
    }
}